@import '../frame/theme.styl'

.bodyWrapper
  position relative
  min-height 100%
  padding-top size-header-height
  padding-bottom size-footer-height
  
.header
  position fixed
  z-index 999
  width 100%
  height size-header-height
  top 0
  background #FFF
  
  img
    position relative
    top 22px
