@import '../frame/theme.styl'

.container
  max-width 100%
  overflow hidden
  
.contentWrapper
  position relative
  left 0
  transition all 0.4s trans-main
  max-width 100%

  &Pushed
    left 95%
    
    @media (min-width: media-width-small) and (max-width: media-width-medium)
      left 'calc(%s + 40px)' % width-menu
      max-width 'calc(100% - %s + 50px)' % width-menu

    @media (min-width: media-width-medium)
      left 50px
