@import '../../frame/theme.styl'

.article
  min-width size-textcol-minwidth
  max-width size-textcol-maxwidth
  margin auto
  padding 0
  
.text
  padding 20px

.date
  font-style italic
  position absolute
  margin-top -32px // FIXME: fast implementation
  font-family 'EB Garamond'
  font-weight 300
  color color-secondary
