@import '../../frame/theme.styl'

.article
  min-width size-textcol-minwidth
  max-width size-textcol-maxwidth
  margin auto
  position relative
  padding-top 20px
  
.text
  padding padding-text-standard

.date
  font-style italic
  position absolute
  margin-top -32px // FIXME: fast implementation
  font-family 'EB Garamond'
  font-weight 300
  color color-secondary
