@import '../../frame/theme.styl'

.label
  position relative
  display block
  margin 21px 0

.input
  border none
  outline none
  border-bottom 1px solid color-sub--light
  width 100%
  box-sizing border-box
  font-family font-serif
  color color-body-text
  font-size 26px

.input, .labelText
  padding 12px 0

.labelText
  position absolute
  top 50%
  left 3px
  font-size 20px
  transform translateY(-50%)
  transition all 0.4s trans-main
  
  &Dirty
    font-size 15px
    top 4px
    left 0
