@import '../../frame/theme.styl'

.label
  position relative
  display block
  margin 21px 0
  cursor text

.input
  border none
  outline none
  border-bottom 1px solid color-sub--light
  width 100%
  box-sizing border-box
  font-family font-serif
  color color-body-text
  font-size 26px

.input, .labelText
  padding 12px 0

.labelText
  position absolute
  left 3px
  top 0
  font-size 20px
  transition all 0.4s trans-main
  line-height 1.7em
  
  &Dirty
    font-size 15px
    top -22px
    left 0

.textarea
  overflow hidden  
