@import '../../frame/theme'
@import './navList'

@keyframes fadein {
  0% {
    opacity 0
  }
  100% {
    opacity area-opacity
  }
}
.area
  box-sizing border-box
  background color-main
  position fixed
  top (size-header-height - 5px)
  left 0
  height 'calc(100% - %s)' % size-header-height
  width 100%
  animation fadein 0.4s trans-main
  overflow-y auto
  overflow-x hidden
  z-index z-menu
  
  @media(min-width: media-width-small) and (max-width: media-width-medium)
    overflow visible
  
  @media (min-width: media-width-small)
    top calc(50% - 5px)
    height auto
    
  @media (min-width: media-width-medium)
    top 33%
    width 300px
  
  &Hidden
    visibility hidden
    
    @media (min-width: media-width-medium)
      visibility visible
