@import '../../frame/theme'

button-side = 45px

.button
  position fixed
  top size-header-height
  left 0
  transform translateY(-(round(button-side / 2)))
  color color-sub--dark
  cursor pointer
  z-index z-menubutton
  width button-side
  height button-side
  transition all trans-main 0.6s
  
  @media (min-width: media-width-small)
    margin-left 50px
    top 50%
    
  @media (min-width: media-width-medium)
    display none


.buttonPushed
  margin-left -56px
  left 90%
  
  @media (min-width: media-width-small)
    margin-left -5px
    left width-menu
  
.icon
  position relative
  height 26px
  width 26px
  
  @media (min-width: media-width-small)
    margin auto
  
  .bars
    position relative
    left 1px
    width 100%
    height 100%
    
    .bar
      position absolute
      top 50%
      background color-sub--light
      height 1px
      width 100%
      transition transform 2000ms trans-main
      transform translateY(40px)
      
      &:nth-child(1)
        transform rotate(45deg)
        
      &:nth-child(2)
        transform scale(0, 0)
        
      &:nth-child(3)
        transform rotate(-45deg)
      
      &:nth-child(1):not(.barHidden)
        transform translateY(-5px) rotate(0)
      
      &:nth-child(2):not(.barHidden)
        transform scale(1,1)
          
      &:nth-child(3):not(.barHidden)
        transform translateY(5px) rotate(0)

.text
  opacity 0
  text-align center
  transition none
  
  @media (min-width: media-width-small)
    transition opacity 700ms trans-main
    opacity 1