@import '../../frame/theme'
@import './navList'

.area
  box-sizing border-box
  position fixed
  top (size-header-height - 5px)
  left 0
  height 'calc(100% - %s + 5px)' % size-header-height
  width 90%
  background color-sub--dark
  z-index z-menu
  transition all 0.4s trans-main
  text-align right
  
  @media(min-width: media-width-small) and (max-width: media-width-medium)
    overflow visible
    
  @media (min-width: media-width-small)
    width width-menu
    
  @media(min-width: media-width-medium)
    background white
  
  &Hidden
    left -100%
    
    @media (min-width: media-width-medium)
      left 0

.navContainer
  @media(min-width: media-width-small)
    position relative
    top 50%
    transform translateY(-75%)
