@import '../../frame/theme'

.navItem
  height 50px
  line-height 50px
  border-bottom 1px solid transparent
  transition border-color 0.4s trans-main
  
  &:hover,
  &:active,
  &:focus  
    border-bottom 1px solid color-sub--light
  
  @media (min-width: media-width-small)
    display inline-block
    margin-right 40px

.navLink
  display block
  color color-sub--light
  text-decoration none
  font-size 23px
  position relative
  
  &[data-submenu=true]:after
    font-size 17px
    content ' >'
    
    @media(min-width: media-width-small) and (max-width: media-width-medium)
      position absolute
      right -18px
      top 3px
      transform rotate(90deg)
    
  &[data-selected]:after
    content '.'
