@import '../../frame/theme'

.navItem
  height 50px
  line-height 50px
  border-bottom 1px solid transparent
  transition border-color 0.4s trans-main
  white-space nowrap
  cursor pointer
  
  &:hover,
  &:active,
  &:focus  
    border-bottom 1px solid color-sub--light

.navLink
  display block
  color color-sub--light
  text-decoration none
  font-size 16px
  font-weight bold
  position relative
  text-transform uppercase

@keyframes bounce {
  0% { right: -20px }
  100% { right: -26px }
}

.subMenuLink
  backface-visibility hidden
  
  &:after
    content '>'
    position absolute
    right -20px
    transition all 0.4s trans-main
    font-family font-sans
    
  &:hover::after
    animation bounce anim-bounce
        