@import '../../frame/theme'

.navItem
  height 50px
  line-height 50px
  border-bottom 1px solid transparent
  transition border-color 0.4s trans-main
  white-space nowrap
  cursor pointer
  
  &:hover,
  &:active,
  &:focus  
    border-bottom 1px solid color-sub--light
  
  @media (min-width: media-width-small)
    display inline-block
    margin-right 40px

.navLink
  display block
  color color-sub--light
  text-decoration none
  font-size 23px
  position relative
  
// REFACTOR: Not looking to good since the rotate is wobbly, also think about another way to handle this nesting and double selectoring.
.subMenuLink
  margin-right 20px
  
  &:after
    font-size 17px
    content ' >'
    transition transform 0.4s trans-main
  
    @media(min-width: media-width-small) and (max-width: media-width-medium)
      position absolute
      right -18px
      top 3px
      transform rotate(90deg)
  
  &[data-submenu=true]
    &:after
      @media(min-width: media-width-small) and (max-width: media-width-medium)
        transform rotate(270deg)
        