@import '../../frame/theme'
@import './navList'

.container
  position absolute
  top 0
  width 100%
  height 100%
  background color-secondary
  left 100%
  transition left 0.4s trans-main 
  
  &[data-open = true]
    left 0%
  
  @media(min-width: media-width-small) and (max-width: media-width-medium)
    top 100%

.header
  color #fff
  font-size 18px
  cursor pointer
  margin-bottom 8px
  margin-right 50px
  display inline-block
  
  @media(min-width: media-width-small) and (max-width: media-width-medium)
    display none  
