@import '../../frame/theme'
@import './navList'

.container
  position absolute
  top 0
  width 100%
  height 100%
  right 100%
  transition right 0.4s trans-main
  background color-sub--dark
  
  &[data-open = true]
    right 0%

@keyframes bounce {
  0% { left: -20px }
  100% { left: -26px }
}

.header
  line-height 50px
  height 50px
  font-size 18px
  color color-sub--light
  font-weight bold
  cursor pointer
  display inline-block
  position relative
  
  &:before
    content '<'
    position absolute
    left -20px
    transition all 0.4s trans-main
    
  &:hover::before
    animation bounce anim-bounce
