@import './theme.styl'

body
  background color-background
  font-family font-header
  margin 0
  padding 0
  
h1, h2
  color color-header-text
  font-weight 400

h1
  font-size size-h1
  
h2
  font-size size-h2
  
p
  color color-body-text
  font-family font-body
  font-size size-text-body
  
a
  text-decoration none
