@import './theme.styl'

body
  background color-background
  font-family font-sans
  margin 0
  padding 0
  color color-body-text
  
h1, h2
  color color-header-text
  font-weight 400

h1
  font-size size-h1
  
h2
  font-size size-h2
  
p
  font-family font-serif
  font-size size-text-body
  
a
  text-decoration none
  
::selection
    background color-secondary
