fontBody = 'Roboto Light', arial, sans-serif

// # Colors
color-background = #FFF
color-main = rgba(211,221,230,1)
color-secondary = rgba(244,188,176,1)
color-sub--dark = rgba(99,111,122,1)
color-sub--light = rgba(57,64,69,1) 

// Text
color-header-text = color-sub--light
color-body-text = color-sub--dark
color-link-underline = main-color--two

// # Fonts
// Headers    Quicksand 400
// Body       EB Garamond 400