// # Media
media-width-small = 980px
media-width-medium = 1500px

// # Colors
color-background = #FFF
color-main = rgba(211,221,230,1)
color-secondary = rgba(244,188,176,1)
// color-secondary = rgba(200,150,140,1)
color-sub--light = rgba(99,111,122,1)
color-sub--dark = rgba(57,64,69,1) 
// Text
color-header-text = color-sub--light
color-body-text = color-sub--dark
color-link-underline = color-secondary

// # Fonts
font-header = Quicksand, sans-serif
font-body = 'EB Garamond', serif

// # Sizes
size-footer-height = 250px
size-header-height = 150px
size-textcol-minwidth = 300px
size-textcol-maxwidth = 630px
// Text
size-h1 = 40px
size-h2 = 22px
size-text-body = 18px

// # Margins & Paddings
margin-body-left--wide = 50px

// # Transitions
trans-main = cubic-bezier(0.23, 1, 0.32, 1)

// # Z-indicies
z-head = 999
z-menu = z-head + 1
z-menubutton = z-menu + 1

