@import '../../frame/theme'

.container
  width 100%
  height 100%
  
.headerContainer
  margin-bottom 40px

.h2
  color color-body-text
  border-bottom 1px solid color-body-text
  display inline
  line-height 1.4

  &:after
    content '.'
    
.date
  font-size 28px
  font-family font-serif
  color color-main
