@import '../../frame/theme'

short = 60%
long = 75%
text = 40%

.container
  width 700px
  height 400px
  position relative
  
// # textContainer
.textContainer
  width text
  position absolute
  right 0
  bottom 0
  text-align right

.right .textContainer
.rightStanding .textContainer
  left 0
  right auto
  text-align left

// # imageContainer
.imageContainer
  position absolute
  width long
  top 0
  left 0
  height 100%

.right .imageContainer
.rightStanding .imageContainer
  right 0
  left auto

.rightStanding .imageContainer
  width short

