@import '../../frame/theme'

short = 60%
long = 75%
text = 40%

.container
  position relative
  
  @media (min-width: media-width-small)
    height 450px

// # textContainer
.textContainer
  position relative
  text-align right
  margin 19px margin-text-standard 0

  @media (min-width: media-width-small)
    width text
    position absolute
    right 0
    bottom 0

.right .textContainer
.rightStanding .textContainer
  left 0
  right auto
  text-align left
  
.rightStanding .textContainer
  @media (min-width: media-width-small)
    left 10%

// # imageContainer
.imageContainer
  position relative
  width 100%
  height 400px
  top 0
  left 0
  
  @media (min-width: media-width-small)
    position absolute
    height 450px
    width long

.right .imageContainer
.rightStanding .imageContainer
  right 0
  left auto

.rightStanding .imageContainer
  @media (min-width: media-width-small)
    width short
