@import '../../frame/theme'

.container
  max-width 100%
  margin auto
  
  @media (min-width: media-width-small)
    width 780px
  
.list
  padding 0
  
.item
  margin-bottom 100px
  list-style-type none
