@import '../../frame/theme.styl'

.contact
  min-width size-textcol-minwidth
  max-width size-textcol-maxwidth
  margin 150px auto
  padding padding-text-standard
  
.follow
  text-align right
  
  @media (min-width: media-width-small)
    margin-right  -22px
