@import '../../frame/theme'

.container
  width 60%
  height 60%
  position relative
  background color-sub--light
  border-radius 50%
  padding 20%

.bar
  width 60%
  height 2px
  position absolute
  top 50%
  transform translateY(-50%)
  background #fff// color-sub--dark
  
  &:nth-child(1)
    transform rotate(90deg)
  
